ASISTENTE DE EJECUCIÓN DE CARGA DE DATOS

Este notebook facilita la creación de tablas y la inserción de datos.


Para agregar los scripts al PATH de python:

In [2]:
import os
import sys

script_dir = os.path.abspath(os.path.join(os.getcwd(), '../scripts'))

if script_dir not in sys.path:
    sys.path.append(script_dir)

Crear tablas:

In [ ]:
from csv_to_table_script import conectar_db

queries = [
    """
    CREATE TABLE customers (
        customer_id VARCHAR(255),
        customer_unique_id VARCHAR(255),
        customer_zip_code_prefix VARCHAR(255),
        customer_city VARCHAR(255),
        customer_state VARCHAR(255)
    );
    """,
    """
    CREATE TABLE geolocation (
        geolocation_zip_code_prefix VARCHAR(255),
        geolocation_lat NUMERIC,
        geolocation_lng NUMERIC,
        geolocation_city VARCHAR(255),
        geolocation_state VARCHAR(255)
    );
    """,
    """
    CREATE TABLE order_all (
        order_id VARCHAR(255),
        customer_id VARCHAR(255),
        order_status VARCHAR(255),
        order_purchase_timestamp TIMESTAMP,
        order_approved_at TIMESTAMP,
        order_delivered_carrier_date TIMESTAMP,
        order_delivered_customer_date TIMESTAMP,
        order_estimated_delivery_date TIMESTAMP
    );
    """,
    """
    CREATE TABLE order_items (
        order_id VARCHAR(255),
        order_item_id NUMERIC,
        product_id VARCHAR(255),
        seller_id VARCHAR(255),
        shipping_limit_date TIMESTAMP,
        price NUMERIC,
        freight_value NUMERIC
    );
    """,
    """
    CREATE TABLE order_payments (
        order_id VARCHAR(255),
        payment_sequential NUMERIC,
        payment_type VARCHAR(255),
        payment_installments NUMERIC,
        payment_value NUMERIC
    );
    """,
    """
    CREATE TABLE order_reviews (
        review_id VARCHAR(255),
        order_id VARCHAR(255),
        review_score NUMERIC,
        review_comment_title VARCHAR(255),
        review_comment_message VARCHAR(255),
        review_creation_date TIMESTAMP,
        review_answer_timestamp TIMESTAMP
    );
    """,
    """
    CREATE TABLE products (
        product_id VARCHAR(255),
        product_category_name VARCHAR(255),
        product_name_lenght NUMERIC,
        product_description_lenght NUMERIC,
        product_photos_qty NUMERIC,
        product_weight_g NUMERIC,
        product_length_cm NUMERIC,
        product_height_cm NUMERIC,
        product_width_cm NUMERIC
    );
    """,
    """
    CREATE TABLE sellers (
        seller_id VARCHAR(255),
        seller_zip_code_prefix VARCHAR(255),
        seller_city VARCHAR(255),
        seller_state VARCHAR(255)
    );
    """,
    """
    CREATE TABLE transalations (
        product_category_name VARCHAR(255),
        product_category_name_english VARCHAR(255)
    );
    """
]

conexion = conectar_db()
cursor = conexion.cursor()

for query in queries:
    cursor.execute(query)

conexion.commit()
cursor.close()
conexion.close()

Cargar datos (están en .../analisis-ecommerce/data/raw):

In [ ]:
from csv_to_table_script import cargar_datos

path_csvs = os.path.abspath(os.path.join(os.getcwd(), '../data/raw'))

cargar_datos(path_csvs)

Agregar primary keys:

In [ ]:
from csv_to_table_script import conectar_db

queries = [
            "ALTER TABLE customers ADD PRIMARY KEY (customer_id)"
            "ALTER TABLE products ADD PRIMARY KEY (product_id)"
            "ALTER TABLE sellers ADD PRIMARY KEY (seller_id)",
            "ALTER TABLE order_all ADD PRIMARY KEY (order_id)"
           ]

conexion = conectar_db()
cursor = conexion.cursor()

for query in queries:
    cursor.execute(query)

conexion.commit()
cursor.close()
conexion.close()

Agregar foreign keys:

In [ ]:
from csv_to_table_script import conectar_db

queries = [
           "ALTER TABLE order_payments ADD FOREIGN KEY (order_id) REFERENCES order_all(order_id)",
           "ALTER TABLE order_reviews ADD FOREIGN KEY (order_id) REFERENCES order_all(order_id)",
           "ALTER TABLE order_items ADD FOREIGN KEY (order_id) REFERENCES order_all(order_id)",
           "ALTER TABLE order_items ADD FOREIGN KEY (product_id) REFERENCES products(product_id)",
           "ALTER TABLE order_items ADD FOREIGN KEY (seller_id) REFERENCES sellers(seller_id)",
           "ALTER TABLE order_all ADD FOREIGN KEY (customer_id) REFERENCES customers(customer_id)"
           ]

conexion = conectar_db()
cursor = conexion.cursor()

for query in queries:
    cursor.execute(query)

conexion.commit()
cursor.close()
conexion.close()

a